<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}

Homepage-Codemaster

{% endblock %}

{% block body %}
<h1 style="text-align: center;"> Code Master TABLE</h1>
<br>

    <table class="table" style="border: 2px solid black;">
        <th>CodeDivision</th>
        <th>CodeDivisionNM</th>
        <th>Code</th>
        <th>CodeNM</th>
        <th>Remarks</th>    
        <th>DeleteFlg</th>
        <th>Edit</th>
        <th>Delete</th>
        {%for cm in codemaster %}
        <tr>
            <td>
                {{cm.CodeType}}
            </td>
            <td>
                {{cm.CodeTypeNM}}
            </td>
            <td>
                {{cm.Code}}
            </td>
            <td>
                {{cm.CodeNM}}
            </td>
            <td>
                {{cm.Remarks}}
            </td>
            <td>
                {{cm.DeleteFlg}}
            </td>
            <td>
                <a href="{%url 'codemaster:updateCodeForm' cm.id %}" class="btn btn-warning"> edit </a>
            </td>
            <td>
                <a href="{%url 'codemaster:deleteCodeForm' cm.id %}" class="btn btn-danger"> delete </a>
            </td>
            
        </tr>
        {%endfor%}
    </table>


    <form action="" method="POST">
        {%csrf_token%}        
        {{form | crispy}}
        
        <input type="submit" value="submit" name = "submit">
    </form>


{% endblock %}
