<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}

Homepage-SetPositionmaster

{% endblock %}

{% block body %}
<h1 style="text-align: center;"> SetPosition Master TABLE</h1>
<br>
<div class="jumbotron">
    <form class="searchform" action="" method="GET">
        {%csrf_token%}
        <br>
        {{searchform | crispy}}
        <input type="submit" value="Search" name = "submit">
    </form>
</div>
<br>
<button onclick="create_element(2)">INSERT</button>
<button onclick="create_element(1)">HIDE</button>
<br>
<br>
<div id = "form1" class="jumbotron insert-jumbo">
    
    <form id = "form2" action="" method="POST">
        {%csrf_token%}       
        <br>
        {{form | crispy}}
        
        <input type="submit" value="submit" name = "submit">
    </form>
    
</div>
<br>
<div class="pagenumber">
    <div class="row">
        <div class="col-md-4"  style="text-align: right;">
            {% if setposition.has_previous %}
                <a href="{% url 'setpositionmaster:home' %}?page={{setposition.previous_page_number }}"> <b style="text-align: right;"><</b> </a>
            {%endif%}
        </div>

        <div class="col-md-4">
            <p style="text-align: center;">Showing Page : {{setposition.number}} / {{pgcount}} ({{per_page}} results)</p>
        </div>

        <div class="col-md-4"  style="text-align: left;">
            {% if setposition.has_next %}
                <a href="{% url 'setpositionmaster:home' %}?page={{setposition.next_page_number}}"> <b>></b> </a>
            {%endif%}
        </div>

    </div>
</div>
<br>

    <table class="table" style="border: 2px solid black;">
        <th>ReadingAreaNo</th>
        <th>SetPositioncode</th>
        <th>SetPositionNM</th>
        <th>DeleteFlg</th>
        <th>Edit</th>
        <th>Delete</th>
        {%for spm in setposition %}
        <tr>
            <td>
                {{spm.ReadingAreaNo}}
            </td>
            <td>
                {{spm.SetPositionCD}}
            </td>
            <td>
                {{spm.SetPositionNM}}
            </td>
            <td>
                {{spm.DeleteFlg}}
            </td>
            <td>
                <a href="{% url 'setpositionmaster:updateSetPositionForm' spm.id %}" class="btn btn-warning"> edit </a>
            </td>
            <td>
                <a href="{% url 'setpositionmaster:deleteSetPositionForm' spm.id %} " class="btn btn-danger"> delete </a>
            </td>
            
        </tr>
        {%endfor%}
    </table>

<script>
    window.onload = function() {
        create_element(1);
    };
    
    function create_element(a)
    {
        if(a==1)
            document.getElementById("form1").style.display="none";
        else
            document.getElementById("form1").style.display="block";
    }
</script>

{% endblock %}
