<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}

Homepage-Metermaster

{% endblock %}

{% block body %}
<h1 style="text-align: center;"> Meter Master TABLE</h1>
<br>
<button onclick="create_element(2)">INSERT</button>
<button onclick="create_element(1)">HIDE</button>
<br>
<br>
<div id = "form1" class="jumbotron insert-jumbo">
    
    <form method="post" id="personForm" data-cities-url="{% url 'metermaster:ajax_load_stores' %}" novalidate>
        {%csrf_token%}       
        <br>
        {{form | crispy}}
        
        <input type="submit" value="submit" name = "submit">
    </form>
    
</div>
<br>
    <table class="table" style="border: 2px solid black;">
        <th>MeterID</th>
        <th>MeterNo</th>
        <th>MeterKBN</th>
        <th>readingAreaNo</th>
        <th>UseType</th>
        <th>StoreNo</th>
        <th>Magnification</th>
        <th>CommonType</th>
        <th>ReadingStart</th>
        <th>SetPositionCD</th>
        <th>Remarks</th>
        <th>DeleteFlg</th>
        <th>Edit</th>
        <th>Delete</th>
        {%for mm in meter %}
        <tr>
            <td>
                {{mm.MeterID}}
            </td>
            <td>
                {{mm.MeterNo}}
            </td>
            <td>
                {{mm.MeterKBN}}
            </td>
            <td>
                {{mm.ReadingAreaNo}}
            </td>
            <td>
                {{mm.UseType}}
            </td>
            <td>
                {{mm.StoreNO}}
            </td>
            <td>
                {{mm.Magnification}}
            </td>
            <td>
                {{mm.CommonType}}
            </td>
            <td>
                {{mm.ReadingStart}}
            </td>
            <td>
                {{mm.SetPositionCD}}
            </td>
            <td>
                {{mm.Remarks}}
            </td>
            <td>
                {{mm.DeleteFlg}}
            </td>        
            <td>
                <a href="{% url 'metermaster:updateMeterForm' mm.id %}" class="btn btn-warning"> edit </a>
            </td>
            <td>
                <a href="{% url 'metermaster:deleteMeterForm' mm.id %} " class="btn btn-danger"> delete </a>
            </td>
            
        </tr>
        {%endfor%}
    </table>

<script>
    window.onload = function() {
        create_element(1);
    };
    
    function create_element(a)
    {
        if(a==1)
            document.getElementById("form1").style.display="none";
        else
            document.getElementById("form1").style.display="block";
    }
</script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_ReadingAreaNo").change(function () {
    var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
    var ReadingAreaNo = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'ReadingArea': ReadingAreaNo       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_StoreNO").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
</script>


{% endblock %}
