<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}

Homepage-Readingarea

{% endblock %}

{% block body %}
<h1 style="text-align: center;"> READING AREA TABLE</h1>
<br>
<button onclick="create_element(2)">INSERT</button>
<button onclick="create_element(1)">HIDE</button>
<br>
<br>
<div id = "form1" class="jumbotron insert-jumbo">
    
    <form id = "form2" action="" method="POST">
        {%csrf_token%}       
        <br>
        {{form | crispy}}
        
        <input type="submit" value="submit" name = "submit">
    </form>
    
</div>
<br>

    <table class="table" style="border: 2px solid black;">
        <th>ReadingAreaNo</th>
        <th>ReadingAreaNM</th>
        <th>ElectricClaim</th>
        <th>WaterClaim</th>
        <th>GasClaim</th>    
        <th>DeleteFlg</th>
        <th>Edit</th>
        <th>Delete</th>
        {%for ra in readingarea %}
        <tr>
            <td>
                {{ra.ReadingAreaNo}}
            </td>
            <td>
                {{ra.ReadingAreaNM}}
            </td>
            <td>
                {{ra.ElectricClaim}}
            </td>
            <td>
                {{ra.WaterClaim}}
            </td>
            <td>
                {{ra.GasClaim}}
            </td>
            <td>
                {{ra.DeleteFlg}}
            </td>
            <td>
                <a href=" {% url 'readingarea:updateReadingForm' ra.ReadingAreaNo %} " class="btn btn-warning"> edit </a>
            </td>
            <td>
                <a href=" {% url 'readingarea:deleteReadingForm' ra.ReadingAreaNo %} " class="btn btn-danger"> delete </a>
            </td>
            
        </tr>
        {%endfor%}
    </table>

<script>
    window.onload = function() {
        create_element(1);
    };
    
    function create_element(a)
    {
        if(a==1)
            document.getElementById("form1").style.display="none";
        else
            document.getElementById("form1").style.display="block";
    }
</script>
    


{% endblock %}
