<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}

Homepage-StoreMaster

{% endblock %}

{% block body %}
<h1 style="text-align: center;"> Store Master TABLE</h1>
<br>
<div class="jumbotron">
    <form class="searchform" action="" method="GET">
        {%csrf_token%}
        <br>
        {{searchform | crispy}}
        <input type="submit" value="Search" name = "submit">
    </form>
</div>
<br>
<button onclick="create_element(2)">INSERT</button>
<button onclick="create_element(1)">HIDE</button>
<br>
<br>
<div id = "form1" class="jumbotron insert-jumbo">
    
    <form id = "form2" action="" method="POST">
        {%csrf_token%}       
        <br>
        {{form | crispy}}
        
        <input type="submit" value="submit" name = "submit">
    </form>
    
</div>
<br>
<br>
<div class="pagenumber">
    <div class="row">
        <div class="col-md-4"  style="text-align: right;">
            {% if storemaster.has_previous %}
                <a href="{% url 'storemaster:home' %}?page={{storemaster.previous_page_number }}"> <b style="text-align: right;"><</b> </a>
            {%endif%}
        </div>

        <div class="col-md-4">
            <p style="text-align: center;">Showing Page : {{storemaster.number}} / {{pgcount}} ({{per_page}} results)</p>
        </div>

        <div class="col-md-4"  style="text-align: left;">
            {% if storemaster.has_next %}
                <a href="{% url 'storemaster:home' %}?page={{storemaster.next_page_number}}"> <b>></b> </a>
            {%endif%}
        </div>

    </div>
</div>
<br>
    <table class="table" style="border: 2px solid black;">
        <th>StoreNo</th>
        <th>ReadingAreaNo</th>
        <th>StoreType</th>
        <th>StoreNM</th>
        <th>ElectricBillingDate</th>
        <th>GasBillingDate</th>
        <th>WaterBillingDate</th>    
        <th>DeleteFlg</th>
        <th>Edit</th>
        <th>Delete</th>
        {%for sm in storemaster %}
        <tr>
            <td>
                {{sm.StoreNO}}
            </td>
            <td>
                {{sm.ReadingAreaNo}}
            </td>
            <td>
                {{sm.StoreType}}
            </td>
            <td>
                {{sm.StoreNM}}
            </td>
            <td>
                {{sm.ElectricBillingYMD}}
            </td>
            <td>
                {{sm.GasBillingYMD}}
            </td>
            <td>
                {{sm.GasBillingYMD}}
            </td>
            <td>
                {{sm.DeleteFlg}}
            </td>
            <td>
                <a href="{% url 'storemaster:updateStoreForm' sm.id%}" class="btn btn-warning"> edit </a>
            </td>
            <td>
                <a href="{% url 'storemaster:deleteStoreForm' sm.id%}" class="btn btn-danger"> delete </a>
            </td>
            
        </tr>
        {%endfor%}
    </table>

<script>
    window.onload = function() {
        create_element(1);
    };
    
    function create_element(a)
    {
        if(a==1)
            document.getElementById("form1").style.display="none";
        else
            document.getElementById("form1").style.display="block";
    }
</script>

{% endblock %}
