<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}
MENU
{% endblock %}


{% block body %}
    <h1 style="text-align: center;">MENU</h1>
    <table class="table" style="text-align: center; margin-top:5%; margin-bottom:5%; height: 90%; ">
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">業務開始処理</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{%url 'setprice:home'%}"><h3 class = "menu-text">単価設定</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{%url 'readingarea:home'%}"><h3 class = "menu-text">検針場所メンテナンス</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">データ転送</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">使用料金表印刷</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{%url 'setpositionmaster:home'%}"><h3 class = "menu-text">設置場所情報</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr><tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">データ取込</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">使用料金調整</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{%url 'storemaster:home'%}"><h3 class = "menu-text">店舗情報</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr><tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">検針結果一覧印刷</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">使用量・使用料金一覧表印刷</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{%url 'metermaster:home'%}"><h3 class = "menu-text">メーター情報</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a href="{%url 'adjustment:home'%}"><h3 class = "menu-text">検針値修正</h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3></h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{% url 'rateshare:home' %}"><h3 class = "menu-text">按分率情報</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a><h3></h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3></h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a href="{%url 'codemaster:home'%}"><h3 class = "menu-text">コード情報</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr><tr>
            <td>
                <div class="row">
                    <div class="col-md-4">
                        <a><h3></h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3></h3></a>
                    </div>
                    
                    <div class="col-md-4">
                        <a><h3 class = "menu-text">バーコード印刷</h3></a>
                    </div>
                    
                </div>
                
            </td>
        </tr>
    </table>
{% endblock %}