<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}

{% block body %}

<h1>HI ALL, WELCOME !!</h1>
<div class="container">
    <br>
    <br>
    <div class="jumbotron">

        <p>ようこそ、　検針システムを管理するWEBアプリです</p>
        <p>このシステムは、巨大な建物、ショッピング複合施設、または一般的に共有されている商業スペースで使用できます。</p>
        <p>これで、テナントの計測と請求が簡単になり、手間がかかりません...</p>
        <h2> 主な機能:</h2>
        <ul>
            <li><p>メーターの作成、削除、更新</li></p>
            <li><p>面積と年/月に基づいてメーターの単位料金を設定します</li></p>
            <li><p>テナントの共通共有率を設定する</li></p>
            <li><p>許容値を有効にするために固定修正を設定します</li></p>
            <li><p>テナントの使用量と領収書を生成します</li></p>
        </ul>
        <br>
        <h3>メニュータブを開いてシステムを使用してください</h3>
        <br>
        <br>
        <hr class="dashed">
        <hr class="dashed">

        <p>Welcome!,This is an application that automates the Meter reading system</p>
        <p>This system can be used in huge buildings, shopping complexes or any commonly shared commercial space.  </p>
        <p>Now, metering and billing tenants becomes easy and hassle free...</p>
        <h2>Key Features :</h2>
        <ul>
            <li><p>Create, Delete and update meters</li></p>
            <li><p>Set meter unit rates based on the area and the Year/Month</li></p>
            <li><p>Set common sharing rates for tenants</li></p>
            <li><p>set fixed corrections to enable allowances</li></p>
            <li><p>Generate the usage and receipt for the tenants</li></p>
        </ul>

        <br>
        <h3>Visit the menu tab for using the system</h3>

        <hr class="dashed">
        <hr class="dashed">

        
    </div>
</div>
{% endblock %}
